* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg,
    #0f0f0f,  blue#1c1c1c);
    color: red;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: blue

    (0, 0, 0, 0.833);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    color: blueviolet
    ;
    transition: 0.3s;
}

.navbar a:hover {
    color: gold;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 80px;
}

.hero h1 {
    font-size: 50px;
    color: red;
}

.hero h2 {
    font-size: 28px;
}

.hero p {
    margin: 15px 0;
    color: #ccc;
}

.hero img {
    width: 280px;
   
   
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid gold;
    color: gold;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
  
}

.btn:hover {
    background: gold;
    color: black;

}

/* Glass sections */
.glass {
    margin: 80px auto;
    width: 80%;
    padding: 50px;
    background:black
    
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-align: center;
}

/* Cards */
.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
   
   
}

.card {
    padding: 30px;
    width: 200px;
    background: rgb(0, 0, 0)
    (255,255,255,0.08);
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    
    
    

}

/* Contact */
.contact-form {
    max-width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.contact-form button {
    background: gold;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: #aaa;
}
